@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
  font-family: "Bold-Lato";
  src: url("./assets//fonts//Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Semi-Bold-Lato";
  src: url("./assets//fonts//Lato/Lato-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .card {
    width: 300px;
  }
  .paginationBttns {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .paginationBttns a {
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 0.3rem;

    color: rgb(58, 58, 58);
    cursor: pointer;
  }

  .paginationBttns a:hover {
    color: #e50010;
    background: rgb(255 237 213);
  }

  .paginationActive a {
    color: #e50010;
    background: rgb(255 237 213);
  }

  @media (max-width: 576px) {
    .previousBttn {
      display: none;
    }
    .nextBttn {
      display: none;
    }
    
  };


}

@layer utilities {
  .active-product {
    border: 2px solid #e50010;
  }
  .error-message {
    color: #d8000c;
  }

  .invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;

  }
  .invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
.success {
  color: 	#198754;
}

.active {
border-bottom: 2px solid #e50010;
transform: scale(1.15);
transition: 0.2s;
}


}
